* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fcfefd;
  /* background-image: url(./assets/floor.png); */
}
.titleDiv {
  width: 100%;
  height: 200px;
  /* background: #000; */
  background-position: center;
  background-image: url(./assets/bomberman-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.main-container {
  display: flex;
  flex-direction: column;
  /* gap: 1px; */
  width: 70%;
  height: 80%;
  /* background: rgba(0, 0, 0); */
  justify-content: center;
  align-items: center;
}
.line-container {
  display: flex;
  flex-direction: row;
  width: 99%;
  /* height: 6%; */
}

.mur,
.block,
.joueur {
  width: 75px;
  height: 75px;
  border: solid 1px rgb(133, 133, 133);
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mur {
  /* background-color: #29282d; */
  border: 1px solid #29282d;
  background-image: url(./assets/wall/wall.png);
}
.joueur {
  background-image: url(./assets/player/walk-front.png);
  background-size:60px;
  /* border: 1px solid rgba(128, 128, 128, 0.4); */
}
.block{
  /* border: 1px solid rgba(128, 128, 128, 0.4); */
}
.blockA {
  /* background-color: #f2b228; */
  background-image: url(./assets/wall/wall_destructible.png);
}

.blockDestructible {
  /* background-color: #f2b228; */
  background-image: url(./assets/wall/wall_destructible.png);
}

/* MESSAGE BOX */

.chatBox {
  width: 25%;
  height: fit-content;
  border: 1px solid gray;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}
.avatar{
  color: #fcfefd;
}

.chat-title {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background: #354A59;
}

.messages {
  width: 100%;
  height: 83%;
  min-height: 600px;
  background: #fff;
}
.message-input {
  width: 85%;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  border: none;
  border: 1px solid #354A59;
  outline: none;
  resize: none;
  background: white;
  border-radius: 5px;
}

.message-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #212025; */
}

.message-submit {
  width: 12%;
  height: 40px;
  background: #354A59;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.message-submit:hover {
  background: #904c31;
}
