* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.main-container {
  display: flex;
  flex-direction: column;
  /* gap: 1px; */
  width: 70%;
  height: 80%;
  /* background: rgba(0, 0, 0); */
  justify-content: center;
  align-items: center;
}
.line-container {
  display: flex; /* Utiliser Flexbox pour aligner les éléments horizontalement */
  flex-direction: row; /* Assurez-vous que les éléments sont alignés horizontalement */
  /* gap: 1px; Espace entre les éléments de la ligne */
  width: 99%; /* Largeur de la ligne */
  /* height: 6%; */
}

/* Exemple de style pour les éléments individuels */
.mur,
.block,
.joueur {
  width: 50px; /* Largeur des éléments */
  height: 50px; /* Hauteur des éléments */
  border: solid 1px rgb(133, 133, 133); /*
 /* Position absolue pour les éléments */
}

/* MESSAGE BOX */

.chatBox {
  width: 25%;
  height: fit-content;
  border: 1px solid;
  border-radius: 5px;
  background: #29282d;
}

.chat-title {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.messages {
  width: 100%;
  height: 83%;
  min-height: 600px;
  background: #fff;
}
.message-input{
  width: 85%;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-top: 1px solid #29282d;
  outline: none;
  resize: none;
  background:white;
  border-radius: 5px;
}

.message-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-submit{
  width: 12%;
  height: 40px;
  background: #f2b228;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border: 5px;
  cursor: pointer;
}
.message-submit:hover{
  color: #fff;
  background: #29282d;
}