/* CSS for game elements */
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: beige;
}

.titleDiv {
  width: 100%;
  height: 200px;
  background-image: url(./assets/bomberman-logo.png);
  background-size: contain;
}
.game-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* padding: 10px; */ /* Utilise la couleur définie dans index.js */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.time, .life, .players {
  font-size: 18px;
  color: #29282d; 
}

.time {
  margin-right: 20px;
}

.life {
  margin-right: 20px;
}
.game-container {
  position: relative;
  width: 900px;
  height: 660px;
  border: 1px solid black;
}

.bomb,
.bombExplosed {
  position: absolute;
  width: 60px;
  height: 60px;
  background-size: 50px;
  z-index: -1;
}
.bomb {
  background-image: url(./assets/bomb.png);
  animation: bombAnimation 2s infinite;
}
.bombExplosed {
  /* visibility: visible; */
  /* display: block; */
  z-index: 1;
  background-image: url(./assets/explosion.gif);
}
.cell {
  position: absolute;
  background-size: cover;
  border: 1px solid #29282d;
}
.wall {
  /* background-color: #29282d; */
  background-image: url(./assets/wall/wall.png);
}
.block {
  /* background-color: #f2b228; */
  background-image: url(./assets/wall/wall_destructible.png);
}
.player {
  position: absolute;

  /* background: #29282d; */
  background-image: url(./assets/player/walk-front.png);
  background-size: 40px;
}

.cell,
.player {
  width: 60px;
  height: 60px;
}

.titleDiv,
.cell,
.player,
.bomb,
.bombExplosed {
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes bombAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.33);
  }
  100% {
    transform: scale(1);
  }
}
