.waiting{
    background-image: url(./assets/wall/wall.png);
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user{
    /* background: #bababa; */
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0px;
    
}
.waiting-title-text {
    font-size: 60px;
    font-weight: 800;
    color: #b34f4f;
    border: solid 5px white;
    background: #0000005e;
    border-radius: 25px;
    padding: 25px;
}